{
  "env": {
    "browser": true
  },
  "extends": "eslint-config-egg",
  "rules": {
    "array-bracket-spacing": ["off"],
    "no-unused-vars": ["error"],
    "space-before-function-paren": ["off"]
  }
}
