{
  "env": {
    "browser": true
  },
  "extends": "eslint-config-egg",
  "globals": {
    "FullCalendar": "readonly",
    "Handlebars": "readonly",
    "axios": "readonly"
  },
  "rules": {
    "array-bracket-spacing": ["off"],
    "arrow-parens": ["off"],
    "comma-dangle": ["off"],
    "default-case": ["off"],
    "dot-notation": ["off"],
    "newline-per-chained-call": ["off"],
    "no-alert": ["off"],
    "no-unused-vars": ["error"],
    "prefer-const": ["off"],
    "space-before-function-paren": ["off"],
    "strict": ["off"],
    "valid-jsdoc": ["off"]
  }
}
